[2015-08-15 14:57] nickedes opened #2 "ADD TO AWESOME"
You should add your repo's link [here](https://github.com/sindresorhus/awesome) as [Mac](https://github.com/iCHAIT/awesome-mac) over [here](https://github.com/sindresorhus/awesome#platforms) .

[2015-08-15 16:23] iCHAIT commented on #2
Yeah. it is definitely on the cards, but it is not ready as of now. Hopefully this can get there sooner than later.

[2015-08-15 16:24] nickedes commented on #2
:+1:

[2015-09-10 19:41] #2 closed

[2015-09-11 15:17] williamboman opened #10 "Indication if the item is open-source"
I thought it would be nice to have some kind of indication if a listed item is OSS (which is very important to some users).

I've put up a [branch](https://github.com/williamboman/awesome-osx/tree/add-OSS-logo) where open-source items are flagged with the [OSI](http://opensource.org/) logo (the choice of logo is purely out of laziness). Thoughts?

[2015-09-11 15:22] dufferzafar commented on #10
This would be a nice addition. :+1:

[2015-09-11 15:25] dufferzafar commented on #10
@williamboman I think you should just go ahead and open a pull :)

[2015-09-11 15:27] williamboman commented on #10
@dufferzafar There are a lot of items in the list that are open-source, but not tagged yet. Before going through each item I'd like to know if this is interesting to @iCHAIT at all :smile:.

[2015-09-11 15:28] iCHAIT commented on #10
@williamboman Yeah, I like it, it would be a nice addition :smiley:

My only concern here is that what kind of logo would we want for this sort of segregation.

What do you guys think?

[2015-09-11 15:30] williamboman commented on #10
Also, the markup will get quite messy with the custom, 106 character long `<img />` tag. Does anyone know a better way to mark it up (with Retina support)?

[2015-09-11 15:34] williamboman commented on #10
@iCHAIT

I think the OSI logo is pretty universal, but something feels off about using it here. If anyone wants to make a custom one, that'd be cool.

[2015-09-11 15:42] iCHAIT commented on #10
@williamboman I agree with you, I think we should have this, and as you very rightly mentioned as it is very much universal it would just fit perfectly here.

I think you can proceed with this.

:+1:

[2015-09-11 15:43] iCHAIT commented on #10
BTW, I think we should find a way for managing the `<img />` it would really make things complicated.

[2015-09-11 15:45] williamboman commented on #10
Definitely.

Which do you guys prefer, first or second? (logo position)
![screenshot 2015-09-11 at 17 44 18](https://cloud.githubusercontent.com/assets/6705160/9819177/cc03b5d4-58ac-11e5-9705-907c412078d9.png)

[2015-09-11 15:46] iCHAIT commented on #10
Second!

[2015-09-11 15:56] dufferzafar commented on #10
Yeah, second is better.

[2015-09-11 21:33] williamboman commented on #10
Opened a PR now. About the `<img />` issue, I just resized the logo to `14x14` and include it markdown-style, which is much shorter (no Retina support though :cry:).

[2015-09-12 15:04] #10 closed

[2015-09-15 12:04] alexey-lysiuk opened #29 "New category: Game Source Ports"
Quote from Contribution Guidelines:

There is a large number of [game source ports](https://en.wikipedia.org/wiki/Source_port) with binary builds for OS X available and regularly updated.
Does it make sense add a separate category for them? Because the source port is different from the corresponding game, it contains no copyrighted assets and data. User must own the game to play its source port.

[2015-09-15 13:27] iCHAIT commented on #29
Hmm, I am not familiar with it so I am not very much sure about this though it does sound good.

Can you share some links (maybe 1-2) for what game source ports you are planning to put in the list?

[2015-09-15 18:59] iCHAIT opened #31 "Add Awesome label"
It would be nice to have an awesome logo for this list.

Maybe something similar to [this](https://github.com/vsouza/awesome-ios/blob/master/awesome_logo.png).

[2015-09-15 19:01] iCHAIT opened #32 "Add Awesome logo."
It would be nice to have an awesome logo for this repository.

[2015-09-15 20:36] miguelpalazzo opened #34 "Textual 5 is now Open Source"
Just a head up, Applications > Chat Clients > Textual 5 is not Open Source, at all. It might confuse others as it happened to me.

[2015-09-16 01:52] iCHAIT commented on #34
Wait, what?

I think it is open source -
https://github.com/Codeux-Software/Textual

:\

[2015-09-16 06:31] alexey-lysiuk commented on #29
Classic Doom:
http://www.chocolate-doom.org/
http://zdoom.org
https://zandronum.com/

Quake:
http://icculus.org/twilight/darkplaces/

Duke Nukem 3D:
http://www.eduke32.com/

[2015-09-16 08:39] #34 closed

[2015-09-16 08:43] iCHAIT commented on #29
I think this particularly category does not fits well in awesome os x, but definitely goes for [awesome games](https://github.com/leereilly/games)

What do you think?

[2015-09-16 09:29] #29 closed

[2015-09-16 12:43] miguelpalazzo commented on #34
Sorry had a typo in the title! @iCHAIT You are right, however their link points to a trial option only, so it was misleading. Sorry for the confusion.

[2015-09-16 13:24] iCHAIT commented on #34
No problem.

[2015-09-16 13:31] nclements commented on #34
I had the same thought when I first saw the open source icon and it took me a bit of time to find the repo. Maybe a second link pointing to the source would be good?

[2015-09-16 13:37] iCHAIT commented on #34
Yeah, I am thinking that for a while now, it is a tricky situation to be in because it is not just about textual, many of the apps on the list are open source though the url points to their website. Adding two links would make things a bit messy in `README` I believe but at the same time not specifying the link to the codebase (if open source) is also not a good idea.

[2015-09-16 13:46] iCHAIT commented on #34
@dufferzafar What are your thoughts on this?

[2015-09-16 18:40] dufferzafar commented on #34
I think that most of the repos on Github do contain a link to the website (but the websites might not have links to Github repos.) I feel we should prefer Github links.

[2015-09-16 18:43] miguelpalazzo commented on #34
Totally agree with @dufferzafar

[2015-09-16 18:50] iCHAIT commented on #34
Yeah that sounds good, BTW I was wondering if we could have a workaround for following -

For all open source applications we point the primary link to the main website and link the OSS symbol to the source code of that application?

[2015-09-17 12:06] Emasoft opened #62 "Please remove non open source software from the list"
Good initiative, but this is GitHub, an open source community. You should not advertise non open source software. It is a lack of respect toward all people working hard for helping the community and sharing their code. Please remove all non open source apps from the list. There is already the Mac app store for those who do not believe in openess and sharing. For almost every one of the non open so

[2015-09-17 13:19] jaimehrubiks commented on #62
I do not agree. I love open source software, but that doesn't mean that we shouldn't use commercial software, which for me is in many case respectable.

[2015-09-17 16:06] esttorhe commented on #62
What!? As far as I understand this is a list of great tools; not «great opensource tools».

What????

I seriously am missing the point here; why is sharing a list of tools the OP thinks are great a lack of respect??

I for one think this issue should be closed because I don't think is adding any value; perhaps maybe section the list into OSS and non OSS apps but removing non OSS doesn't make any s

[2015-09-17 16:20] dufferzafar commented on #62
@iCHAIT I totally agree with @esttorhe in that this issue should be closed. Nothing more to say.

[2015-09-17 16:24] #62 closed

[2015-09-17 18:54] herrbischoff commented on #31
Just in case you're interested, I have created a very simple type logo with Apple's new San Francisco display font. I will send a pull request in a minute.

[2015-09-18 12:14] iCHAIT commented on #31
Merged the PR but looks like the label is broken.

[2015-09-18 12:46] herrbischoff commented on #31
This is weird, because you use the same kind of link for `oss.png`, which works.

    https://github.com/iCHAIT/awesome-osx/blob/master/media/oss.png

vs.

    https://github.com/iCHAIT/awesome-osx/blob/master/media/awesome.svg

[2015-09-18 12:47] iCHAIT commented on #31
Yes, indeed I also tried using the `img tag` instaed and it still doesn't works :/

[2015-09-18 12:48] herrbischoff commented on #31
But opening the direct link previews the file correctly. What the...?

[2015-09-18 12:49] iCHAIT commented on #31
Looks like it has something to so with SVG's, maybe.

[2015-09-18 12:51] herrbischoff commented on #31
It shouldn't:

<img width="877" alt="screen shot 2015-09-18 at 14 51 00" src="https://cloud.githubusercontent.com/assets/8957346/9959490/bd5c46d2-5e14-11e5-93eb-4265e25bba63.png">

[2015-09-18 12:55] herrbischoff commented on #31
But just for the sake of it, here's the same file exported as a PNG at 3x:

![awesome](https://cloud.githubusercontent.com/assets/8957346/9959574/59e65e34-5e15-11e5-9b19-90ca81371ba4.png)

[2015-09-18 12:58] iCHAIT commented on #31
Serving the image via rawgit makes it visible on the readme :/
It is a poor workaround though.

[2015-09-18 12:59] herrbischoff commented on #31
So it won't even work with the PNG I uploaded above?

[2015-09-18 13:02] iCHAIT commented on #31
I am not sure, after a little bit of googling I found this -

http://stackoverflow.com/a/21521184

Though I don't know how relevant is this now.

[2015-09-18 13:03] herrbischoff commented on #31
I see. Good catch! So it appears to be a GitHub issue. If you want, I will open another pull request, removing the SVG and adding the PNG.

[2015-09-18 13:06] iCHAIT commented on #31
I don't think their is really a need for it. Totally fine with SVG.

Though in case you wanted to dig a little deeper into the issue -

https://github.com/isaacs/github/issues/316

[2015-09-18 13:11] herrbischoff commented on #31
Interesting, thanks for the link! I will keep that in mind for future occasions.

[2015-09-18 13:12] iCHAIT commented on #31
:+1:

[2015-09-18 13:12] #31 closed

[2015-09-18 13:23] iCHAIT opened #75 "Better organization for open source apps."
For all open source app it would be better to have the following structure -

The primary link should point to the tool/application's website and the OSS symbol for the same should point to the source code.

[2015-09-18 15:54] herrbischoff commented on #75
Good idea! I was thinking about exactly the same thing just today. :)

[2015-09-19 04:58] #75 closed

[2015-09-20 10:55] fabiocaccamo opened #115 "Add MPlayer OSX Extended to the video section"
http://mplayerosx.ch/

[2015-09-22 18:12] seanoh1989 opened #134 "I'd like to make a front-end page for this page."
The address could be simply `awesome-osx.github.io` or something like that whatever the repo owner decides to.

The website can be a `Bootstrap` single page with Jumbotron for header,

and multiple table rows and columns consists of each product. Once user clicks, it will show a `modal` so the user can stick with the same page.

I have my portfolio website (still under development :p ) at http://s

[2015-09-22 18:20] iCHAIT commented on #134
@seanoh1989 Hi

I totally like the idea of a web page for the list, was myself interested in making one but couldn't start with it due to lack of time. Though I would reckon before you start off with it, it would be nice to have feedback and suggestion particularly on the design of the page, from other developers.

@dufferzafar @herrbischoff

[2015-09-22 18:41] seanoh1989 commented on #134
@iCHAIT complete source code of my web is viewable [here](https://github.com/seanoh1989/seanoh1989.github.io) and my website framework is inspired by [Freelanceer](http://startbootstrap.com/template-overviews/freelancer/) with multiple other libraries like Hover.css.

For the images, I used [pixrl](https://pixlr.com/editor/) and I saved the templete. So it will be easy next time I want to create a

[2015-09-22 18:52] dufferzafar commented on #134
@seanoh1989 Cool Portfolio.

I'd :+1: this.

[2015-09-22 18:57] herrbischoff commented on #134
I would keep the site as simple as possible, without any modals, "jumbotrons" or other gimmicks. Bootstrap sounds like the popular go-to framework but it's a pain to modify the components since you need to overwrite the defaults in dozens of places or start meddling with the source files themselves. For me, Bootstrap is a nice solution for quick web **apps** but not necessarily for websites. I my

[2015-09-22 19:04] iCHAIT commented on #134
I agree with @herrbischoff .

@seanoh1989 Maybe you should open a PR, and we can discuss it further, we definitely want to have a web page for the list sooner or later,  so I think it would be better to open a PR and discuss it then as to what kind of design we want and what kind of problems we may face.

What do you guys think?

[2015-09-22 19:07] seanoh1989 commented on #134
@herrbischoff Hi! Thanks for the awesome suggestion :+1:

However, wouldn't the purpose of the website for people who really don't care about the GitHub page (non-geeky people)? and they wouldn't really be happy with super simple list based website because they do care about design over simplicity+usability. We could always make sample sites for both (bootstrap and markdown parser) and see which o

[2015-09-22 19:23] herrbischoff commented on #134
I agree with @iCHAIT. Further discussion makes sense within a PR where we can directly comment on the code. We should work in a separate branch though. Possibly it makes sense that you create it, so we can all check out that branch to review and work on it. Naming suggestion: "website-dev"

Since it was @seanoh1989's idea, I believe he should initiate the PR. ;)

[2015-09-22 19:27] seanoh1989 commented on #134
@iCHAIT @herrbischoff

Sorry but I'm pretty new to GitHub opensource projects so I need to catch up some abbreviations and conventions. Do you mean PR as Public Repo ? or Pull Request?  :sob:

[2015-09-22 19:29] dufferzafar commented on #134
@seanoh1989 Pull Request.

You don't have to be sorry for anything, by the way. We all learn something daily. :)

[2015-09-22 19:29] herrbischoff commented on #134
@seanoh1989: no sweat. It means Pull Request. Ever done that before?

[2015-09-22 19:38] seanoh1989 commented on #134
No, I haven't. I'm trying to follow this example, but it looks like the owner @iCHAIT  has to create a branch ? Help me out haha

You guys are awesome :+1:

[2015-09-22 19:50] herrbischoff commented on #134
I believe the easiest way is indeed for @iCHAIT to create a branch. You then fork the repository and clone it locally. Then create a new local branch from that branch and check that out. On the shell you do that with `git checkout -b <WEBSITE BRANCH> <YOUR BRANCH>`. It will be easiest if you use GitHub desktop for the time being, it makes this simple. You then work and commit in your branch and cl

[2015-09-22 19:52] seanoh1989 commented on #134
Yes I already cloned the project and made a new branch named `website-dev` under origin.

I just need to push it but obviously I don't have permission to push it to non-existing branch on the repo :) I'll be waiting!

Btw I use github and/or svn daily so basic stuff like clone,push/pull,add/delete/commit/ etc is fine with me. Thank you again!

[2015-09-22 20:20] seisfeld commented on #134
@seanoh1989 You won't be able to push because you don't have write access to origin. You need to initiate a pull request and after discussion @iCHAIT will decide if he merges your branch or not.

[2015-09-23 04:34] harshasrinivas opened #136 "Mac-Dev-Setup"
[**This repository**](https://github.com/nicolashery/mac-dev-setup) is pretty good. Do have a look at it.
I think this could be added to the **SETUP** category.

And btw, great work! :smile:

[2015-09-23 15:16] seanoh1989 commented on #134
@iCHAIT  any update on this? Thanks!

[2015-09-23 18:16] filippoferraris commented on #32
Cool idea. I'll be very happy to help on this!
I've designed the logo of [my company](http://enerbrain.com/) recently and I can work on one in my free time!

@iCHAIT can an you give me a little brief, if you have anything in mind? Or may i go wild, and post here few ideas after the weekend?

[2015-09-23 20:44] filippoferraris commented on #32
ps: just a test after playing 10 min with the OSX logo / bg / apple logo...:

![awesomeosx-logo---lowres](https://cloud.githubusercontent.com/assets/1977040/10058174/6481f352-6244-11e5-947f-951c0a19822c.png)

decent enough?

[2015-09-23 22:16] herrbischoff commented on #32
I believe it should absolutely not contain an Apple logo, as Apple is notorious for strictly enforcing its [Copyright and Trademark guidelines](https://www.apple.com/legal/intellectual-property/guidelinesfor3rdparties.html):

Other than that, my impression is that it looks kind of cheapish, not awesome. Any kind of strong gradient, mixing elements (Apple logo/star) or incoherent use of typography

[2015-09-23 23:41] filippoferraris commented on #32
agree @herrbischoff, it was just a fast play-over-apple-logo-thing done in 10 min, extremely cliche and quite bad... mainly to say: "hey let's have / develop / evolve a proper brief !"
I don't think any good logo could come out from 10 min play by a non-professional designer (me).

As there are many directions where this could go, only a proper brief can bring the path towards real awesomeness and

[2015-09-23 23:51] herrbischoff commented on #32
@filippoferraris: Ahh, the [McDonald's Theory approach](https://medium.com/@ienjoy/mcdonalds-theory-9216e1c9da7d). BTW: Nice poster find! :)

I suggest we wait for @iCHAIT letting us know what his original intention was.

[2015-09-24 15:23] arun057 opened #143 "Adium for chat apps?"

[2015-09-24 15:53] nclements commented on #143
Refer to this [pull](https://github.com/iCHAIT/awesome-osx/pull/26) request (and probably a few others).

[2015-09-24 16:05] carmolim opened #144 "Add NameMangler to Utilities"
NameMangler is a powerful app to batch rename files! I love it!

[2015-09-24 16:22] herrbischoff commented on #144
So then I suggest you go ahead and send a pull request adding it. ;)

[2015-09-24 16:28] herrbischoff commented on #143
I agree with the PR contents and @nclements. Adium is quickly becoming obsolete as people are either using an IRC client or Slack/HipChat/whathaveyou.

On a side note, I just realized that personally I do not know a single person who's using AIM/ICQ/Yahoo accounts for chatting. And whoever uses Facebook messaging is beyond help anyway. ;P

[2015-09-25 16:05] herrbischoff commented on #115
So go ahead, fork and make a pull request adding it. ;)

[2015-09-27 15:48] iCHAIT commented on #143
@herrbischoff  Actually I still use Adium, don't know if I am to lazy to install some other chat client or if I am too attached to it :p

[2015-09-27 15:48] #143 closed

[2015-09-27 15:49] iCHAIT commented on #134
@seanoh1989 Sorry for getting such a delay, was really busy for the past few days, I think you should proceed with this and open a PR :+1:

[2015-09-27 15:51] iCHAIT commented on #136
@harshasrinivas Yup, was already aware of this, will give a though on to how to include this in the list, glad you liked it :)

[2015-09-27 15:58] harshasrinivas commented on #136
:+1:

[2015-09-27 16:21] iCHAIT commented on #32
Honestly, it is a bit difficult to describe it in words,

But this is how I imagined it to be -

We have an image of the back side of a Macbook Air/Pro showcasing an apple logo (as it does), but this entire logo would be kind of retro(ish). I know it would be difficult to relate to this, I'll try to depict this through some a suitable image if I can.

[2015-09-29 00:57] seanoh1989 commented on #134
@iCHAIT can you make a new branch so I can do a PR ?

[2015-09-29 02:18] iCHAIT commented on #134
@seanoh1989  Created a new branch `web-page` -

 https://github.com/iCHAIT/awesome-osx/tree/web-page

I hope this should get you going.

[2015-09-30 06:49] seanoh1989 commented on #134
@iCHAIT  PR created

[2015-10-06 22:56] shaun10 opened #156 "El Capitan 10.11 Clean Install, Setup Lists"
All do you think it would be fitting to start adding OS X 10.11 setup notes and gist articles to the project? I found a good Gist article at:

https://gist.github.com/saetia/1623487

Let me know if it is sufficiently comprehensive and I can work on the pull request.

[2015-10-07 15:25] iCHAIT commented on #156
Looks good to me, but is there anything else you are planning to add along with this gist?

P.S. Open a PR for this. (Under the setup section.)

[2015-10-08 03:04] shaun10 commented on #156
Ok thanks Chaitanya! I submitted the pull request.

[2015-10-16 17:25] #156 closed

[2015-10-23 01:20] herrbischoff commented on #134
@seanoh1989: Any progress with this?

[2015-10-23 20:20] seanoh1989 commented on #134
@herrbischoff the PR has been made, but as I mentioned in the PR, I am having a busy month from my work :'( I'll get back to it as soon as this work gets a little bit lighter! :+1:

[2015-10-25 13:31] #115 closed

[2015-10-25 13:31] #144 closed

[2015-11-27 05:29] herrbischoff commented on #134
@seanoh1989: Since it's been over two months since you declared your interest in building a front end but nothing happened, I just went ahead and built a possible technical foundation. Please see PR #203 for details.

Also, @iCHAIT: please check it out. :)

[2015-12-18 17:57] awesome-bot opened #214 "Validate pull requests with Travis"
Hello, I wrote a tool that can validate README links (valid URLs, not duplicate). It can be run when someone submits a pull request.

 It is currently being used by
- https://github.com/vsouza/awesome-ios
- https://github.com/matteocrippa/awesome-swift
- https://github.com/dkhamsing/open-source-ios-apps

Examples
- https://travis-ci.org/matteocrippa/awesome-swift/builds/96526196 ok ✅
- https://tra

[2015-12-18 18:58] #214 closed

[2015-12-18 19:00] iCHAIT commented on #214
This is Awesome, Thanks :+1:

[2015-12-18 19:01] iCHAIT commented on #214
BTW, I hope this is correct - https://github.com/iCHAIT/awesome-osx/commit/5e23d0b9bd9f02d20d71cd0b08b058001052b95a

[2015-12-25 17:07] #136 closed

[2016-03-29 22:16] herrbischoff commented on #32
@iCHAIT: Do you envision that logo idea being more of an image or more of a stylized graphic? Also, my objections regarding the use of an actual Apple logo still stand. Apple is known to defend its trademarks very aggressively.

[2016-03-30 06:30] iCHAIT commented on #32
@herrbischoff  I visualize it as being a subtle and simple graphical logo and I am not interested in having the actual apple logo or any of its variations as the lists logo. Unfortunately, I have not found time to work on this :(

[2016-04-05 19:56] #134 closed

[2016-04-27 18:24] briatte opened #286 "Add 'free' icon?"
May I suggest adding a little icon to all freeware? That'd be useful for those who (try to) focus their software choices on F/OSS.

[2016-04-28 12:37] iCHAIT commented on #286
I think the list already adheres to what you are suggesting, have a closer look at any of the sections and you'll see that a software has a FOSS logo at the end.

[2016-04-28 19:57] briatte commented on #286
But free ≠ open source – unless all open source programs in the list are free, and all freeware in the list are open source ;-)

[2016-04-28 20:05] iCHAIT commented on #286
Ah, got your point, yeah, that would be a nice addition to the list. But what should a freeware icon look like? Do you have anything in mind?

[2016-04-28 20:34] briatte commented on #286
How about using the [Creative Commons NonCommercial](https://commons.wikimedia.org/wiki/File:Creative_Commons_%22Non-Commercial%22_icon_(SVG,_nominal_64x64).svg) icon?

Here's a modified version:

![120px-dollar_sign_in_circle barred svg](https://cloud.githubusercontent.com/assets/322533/14900425/ca568ab0-0d90-11e6-88cc-71e54c7a60b1.png)

Small preview:

![120px-dollar_sign_in_circle svg barred 14

[2016-04-29 07:22] iCHAIT commented on #286
Yeah, that looks good to me 👍

Can you open a PR adding the SVG of the above to the repo? Once we have the SVG in the repo I'll add the icon to all the freeware.

[2016-04-29 14:50] briatte commented on #286
Done: #287.

[2016-04-29 16:53] iCHAIT commented on #286
Great, Thanks :)

BTW, we'd want the size of [OSS icon](https://github.com/iCHAIT/awesome-osx/blob/master/media/oss.svg) and costless icon to be the same (for the sake of consistency), so I was wondering if the size of costless icon and OSS icon same?

[2016-04-29 17:11] briatte commented on #286
No idea how size is calculated for SVG files, but there should be a way to both icons shown at the same size, for sure.

[2016-04-29 17:19] iCHAIT commented on #286
I believe currently the size of the costless badge (the one in the PR you opened) is a bit bigger than the OSS one. Obviously we need not be stringent about the size of these icons being exactly same, but they should be consistent enough.

[2016-04-29 17:21] ReadmeCritic opened #289 "Dead Link"
Should this be removed/updated ?

L314 https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/ 404

[2016-04-29 17:37] iCHAIT commented on #289
I think remove it. Can you open a PR?

[2016-04-29 17:42] briatte commented on #286
Let me know if you know how to adjust the size -- I can try after reinstalling Inkscape if needed!

[2016-04-29 17:42] ReadmeCritic commented on #289
Done ^

[2016-04-29 17:43] #289 closed

[2016-04-29 17:43] iCHAIT commented on #289
Thanks :D

[2016-04-29 17:44] iCHAIT commented on #286
Unfortunately I don't, but I'll definitely try and find a solution for it soon.

[2016-04-29 17:49] iCHAIT commented on #286
But it would be great if you could just fix it. I'll need to first install a photoshop tool as I don't currently have one on my machine :(

[2016-04-29 17:50] briatte commented on #286
I'll give it a shot this weekend.

Otherwise, any way that the image can be constrained to a given size by some markup code in the file?

[2016-04-29 17:50] briatte commented on #286
Oops, sorry, bad keyboard shortcut.

[2016-04-29 17:55] iCHAIT commented on #286
Here's the [source](https://raw.githubusercontent.com/iCHAIT/awesome-osx/master/media/oss.svg) for OSS icon used in this list. It sets the width, height and viewBox as -

`svg width="14px" height="14px" viewBox="0 0 14 14"`

Can you try this for the costless icon, this may work, though I am not completely sure.

[2016-04-30 18:53] briatte commented on #286
Just submitted a PR with the resized icon. I have made the SVG as small as possible.

[2016-04-30 18:55] briatte commented on #286
Darn, something is wrong with my PR…

[2016-04-30 19:06] briatte commented on #286
Okay, #294 is the right PR to use. Dunno what I did wrong before.

[2016-05-01 08:45] iCHAIT commented on #286
Thanks @briatte  for suggesting this and for opening the PR, I think this is a really nice addition to the list, I'll add the free symbol to the respective softwares in a week.

[2016-05-01 08:45] #286 closed

[2016-06-11 10:41] rahulkapoor90 opened #307 "changing the name to awesome-macOS"
As WWDC is approaching and it is somewhat confirmed osx will now be called macOS, would you be changing this repository's name to awesome-macOS or am i too soon to open an issue right now?

[2016-06-11 11:39] herrbischoff commented on #307
Nothing has been confirmed, not in the least. It's the press running wild with what little information they have. It's speculation and hearsay.

If you can answer the (useless) question yourself, why ask (the useless question) in public? Your issue is in essence the equivalent of "FIRST!" posts in comment sections. Don't be an overzealous, stupid teenager. Please close this issue. If there is goin

[2016-06-11 12:21] rahulkapoor90 commented on #307
Okay, Captain sassy.

[2016-06-11 18:53] herrbischoff commented on #307
Good to see the kids are having their fun.

[2016-06-13 17:39] rahulkapoor90 commented on #307
stupid teenager was right!

![2016-06-13_23-07-20](https://cloud.githubusercontent.com/assets/11207756/16017070/d5be650e-31bb-11e6-80e8-6cbd3297f664.png)

[2016-06-27 21:44] taniadaniela opened #312 "Krita Painting application"
Hello, this app [Krita] (https://krita.org/en/download/krita-desktop/) is very good, is Open source and is available for OS X for free if you want to add it to the readme file.

[2016-06-30 16:44] munendrasn opened #316 "Add Intellij IDEA"
`IntelliJ` is Capable Java IDE with Rich features. It is best suited for productivity for Developers. Also, Lot of plugins are available and can be used as normal text editor.
Should this be added to `Developers` or `Editors` Section??

[2016-06-30 16:58] iCHAIT commented on #316
No, [it doesn't fits into the list](https://github.com/iCHAIT/awesome-osx/pull/122).

[2016-06-30 16:58] #316 closed

[2016-07-01 04:35] shilch opened #317 "macchanger"
Since the macchanger in the list doe not work for me, I made my own one.
Would you like to add it to the list too?
https://github.com/shilch/macchanger

[2016-07-01 05:42] iCHAIT commented on #317
I have not tried it myself so I cannot comment on its working but I would recommend opening a issue on the repository and have a word with a developer. The problem you are facing maybe specific to you.

If you want to suggest something open a pull request.

[2016-07-01 05:42] #317 closed

[2016-07-05 07:05] dufferzafar commented on #307
A lot of other people are doing this too! https://github.com/mathiasbynens/dotfiles/commit/47268d92afbec69e3a7243a144a126bbd25bcf2c

[2016-07-07 19:11] iCHAIT commented on #312
Open a Pull Request for your suggestion.

[2016-07-07 19:11] #312 closed

[2016-07-07 19:11] #307 closed

[2016-07-08 06:55] iCHAIT opened #322 "Change Awesome label"
[Awesome OS X](https://github.com/iCHAIT/awesome-macOS/blob/master/media/awesome.svg) label needs to be changed to **Awesome macOS**.

@herrbischoff Can you help with this since you designed the original label?.

[2016-07-08 09:15] herrbischoff commented on #322
@iCHAIT: I'm on it.

[2016-07-08 09:33] herrbischoff commented on #322
Here you go. Two text logos, one with the new Display variant for screen use (-display) and one with the UI variant (-ui). The latter should only be used in a GUI context but I included it because the original logo used that typeface.

[logos.zip](https://github.com/iCHAIT/awesome-macOS/files/353883/logos.zip)

Feel free to choose whatever version you like.

[2016-07-08 16:43] iCHAIT commented on #322
Hey @herrbischoff  thanks for reverting so quickly, will use one of them.

Thanks :tada:

[2016-07-09 21:37] rogersachan commented on #322
Micro description still says Mac OS X, when will this be fixed?

[2016-07-12 03:34] iCHAIT commented on #322
Fixed in 88a70b4ee51f209e91ad794640f9746dd4484a80, thanks @herrbischoff :smile:

@rogersachan I think its fixed now :)

[2016-07-12 03:34] #322 closed

[2016-07-14 02:03] dkhamsing opened #326 "Maintainers Required"
Hey @iCHAIT
I see a lot of open pull requests..

Do you need help to maintain this list?
I or other volunteers would be glad to help

Feel free to close this if you're all set

[2016-07-14 04:14] iCHAIT commented on #326
@dkhamsing Interestingly, I was about to open a similar issue myself, I would appreciate any help I can get to maintain this list further. Should I add you as a collaborator?

@herrbischoff Hi, can you help with this as well? You have been one of the most active contributors to the list and it would be great if you could help to maintain the list, can you take some time out for this?

[2016-07-14 04:30] dkhamsing commented on #326
Yea I would be glad to help

[2016-07-14 08:05] iCHAIT commented on #326
@dkhamsing I have sent you a request.

[2016-07-14 12:12] dkhamsing commented on #326
Closing

@herrbischoff hope you have time to help!

[2016-07-14 12:12] #326 closed

[2016-07-14 12:13] #32 closed

[2016-07-15 11:55] herrbischoff commented on #326
@iCHAIT: I'll be happy to help, collaborate me away. :)

[2016-07-21 08:21] oimotis opened #341 "Add MWeb"
MWeb for Mac - Pro Markdown writing, note taking and static blog generator App

Official Site: http://www.mweb.im/
Mac App Store: https://itunes.apple.com/us/app/mweb-pro-markdown-writing/id954188948?ls=1&mt=12

![](http://www.mweb.im/asset/img/en/1-1.jpg)
![](http://www.mweb.im/asset/img/en/1-3.jpg)

[2016-07-21 08:56] iCHAIT commented on #341
Please open a PR for your suggestion.

[2016-07-21 08:56] #341 closed

[2016-07-23 14:19] herrbischoff opened #347 "New label"
@iCHAIT, could you please create a new label for issues and PRs that reads "needs endorsement". I believe this would help sort the PRs that we have to wait for more comments.

@dkhamsing: What do you think?

[2016-07-23 14:20] herrbischoff commented on #347
Nevermind, just found out that I can do it myself. :)

[2016-07-23 14:20] #347 closed

[2016-07-23 15:52] dkhamsing commented on #347
Good idea 😊

[2016-08-09 22:00] debpalash opened #351 "Kindly Consider Removing the mplayerX. it has PUP.Malware"
http://imgur.com/IpaXoZK

[2016-08-09 22:04] dkhamsing commented on #351
Thx for the report!

[2016-08-10 10:55] herrbischoff commented on #351
Confirmed: https://www.virustotal.com/en/file/8a62217ee4f9b373415197480e167864d01482d05ff71493b15fa79a0e0ded14/analysis/

[2016-08-10 10:55] #351 closed

[2016-08-10 11:58] iCHAIT commented on #351
Thanks for reporting @debpalash :)

[2016-09-21 14:47] dkhamsing opened #361 "Update littleflocker"
@vassyz let us know littleflocker is now a commercial product

Is it ok to keep (and update) or should we remove

---

Added in #360, we can revert the pull request to remove

[2016-09-21 15:01] vassyz commented on #361
The GitHub link should be removed. The repo has [been made private](https://twitter.com/JZdziarski/status/777490501650055168), and Little Flocker is now a [commercial product](http://www.littleflocker.com/) (currently in Beta). Or you can change the URL. I'm not sure what your policy on Beta software is.

[2016-09-21 15:03] dkhamsing commented on #361
@vassyz thanks!

I will consult with others

[2016-09-21 15:05] dkhamsing commented on #361
@iCHAIT @herrbischoff hey guys, what do you think

[2016-09-21 16:54] iCHAIT commented on #361
@dkhamsing I think it should be removed from the list, and I believe @herrbischoff will concur.

For anyone looking for the reasons I would reckon reading comment written by @herrbischoff himself that sounds perfect to me.

Also,

This is not cool. :/

[2016-09-21 19:56] #361 closed

[2016-09-23 16:47] herrbischoff commented on #361
I am 100% behind this. Removing source code when going commercial: https://twitter.com/herrbischoff/status/779361543570022400

[2016-10-04 06:27] z3t0 opened #369 "Criteria for list"
Hi,

I was just scrolling through the list and although I found there are quite a lot of super cool things, what is the criteria for things to make it onto this list?

[2016-10-04 08:52] iCHAIT commented on #369
Hey,

This list is a subset of a larger project [awesome](https://github.com/sindresorhus/awesome), so essentially this list tries to adhere to the awesome manifesto and rules mentioned in that project as closely as possible.

For more details you can read awesome manifesto and contribution guidelines in the repository I linked above.

On the outset -

We tend to include applications that are real

[2016-10-04 14:49] #369 closed

[2016-10-05 09:25] debpalash commented on #351
@iCHAIT  pleasure 😃

[2016-10-11 06:49] SuyashLakhotia opened #375 "Sketch is listed as free!"
Line 164 lists Sketch as freeware but it [costs $99](https://www.sketchapp.com/). It has a free trial though.

[code]

Awesome list though! 👍

[2016-10-11 07:55] iCHAIT commented on #375
Fixed.

Thanks for reporting 😄

[2016-10-11 07:55] #375 closed

[2016-11-09 00:26] z3t0 commented on #369
Thanks

[2016-11-10 17:27] dkhamsing opened #385 "AppWage"
Status: let's check back in Dec/Jan and see the progress of the app

---
This looks pretty good https://github.com/hankinsoft/AppWage

what do you think

@iCHAIT
@herrbischoff

[2016-11-10 21:10] herrbischoff commented on #385
Looks promising. But why do so many OSS authors not care about a proper UI? The icons on the top left are just hideous (and over-cropped), the sidebar is not properly sized for the content it is supposed to display, the list view is claustrophobic and all in all it looks more like a Windows application made to resemble a macOS one.

Also, as there is no release yet, maybe we should hold addition f

[2016-11-24 15:18] jeremyvizzini opened #387 "SnapMotion, ScreenToLayers and VideoToolbox"
Hi,

I am a mac apps developper and I think some of my apps could be add to the list.

ScreenToLayers : open-source mac app to save your screen as a layered psd.
[http://www.screentolayersapp.com](http://www.screentolayersapp.com)
[http://github.com/jeremyvizzini/ScreenToLayers](http://github.com/jeremyvizzini/ScreenToLayers)

SnapMotion : mac app to extract images from video
[http://www.snapmotio

[2016-11-24 16:05] iCHAIT commented on #387
HI @jeremyvizzini, thanks for the suggestions, but please open a separate Pull Request for each of your suggestion, as it would be easier to review/directly merge. Closing this issue.

[2016-11-24 16:05] #387 closed

[2016-12-30 18:43] Haroenv opened #390 "Add some popular dotfiles"
https://github.com/mathiasbynens/dotfiles would be the first (also partly under setup)

[2016-12-30 18:59] iCHAIT commented on #390
I think this would be a better prospect for [awesome-dotfiles](https://github.com/webpro/awesome-dotfiles).

[2016-12-30 18:59] #390 closed

[2016-12-30 19:01] Haroenv commented on #390
It's already in there. What about linking .osx of that repo specifically here?

[2016-12-30 19:47] herrbischoff commented on #390
This is already widely known and will not have to be included in all and every Mac list. Also, there's [herrbischoff/awesome-osx-command-line](https://github.com/herrbischoff/awesome-osx-command-line) which should contain everything found there plus more.

[2017-01-08 16:50] bakman2 opened #395 "Chat app - Franz"
multiclient including whatsapp

http://meetfranz.com

[2017-01-08 17:04] iCHAIT commented on #395
Please open a pull request for your suggestion.
Thanks :)

[2017-01-08 17:04] #395 closed

[2017-01-08 17:08] herrbischoff commented on #395
This was [previously rejected](https://github.com/iCHAIT/awesome-macOS/pull/276). @bakman2, please do not add a pull request.

[2017-01-08 17:22] bakman2 commented on #395
I read it was rejected for privacy reasons that could be hold against a number of applications on the current list, except for the web part. Yet, chitchat does the same except that it was written in xcode.

It does not matter to me, just trying to help the readers of this list.

[2017-01-08 17:31] herrbischoff commented on #395
Thank you for the suggestion in any case. Whatever the other reasons, Electron apps are not allowed on this list.

This is a very important difference. Native apps are always preferred.

Please point them out and I will investigate further. If any application is opaque about how the data is used and where it resides, that may be grounds for removal.

[2017-01-18 21:02] dkhamsing opened #398 "IINA"
We should include https://lhc70000.github.io/iina/ after it gets out of alpha, let's look at this again in April :)

Originally in #396

[2017-01-18 21:04] dkhamsing commented on #385
@herrbischoff there was no significant change.. should we close this?

[2017-02-05 17:05] mohitmun opened #401 "Add juice"
Make your battery information a bit more interesting.
https://github.com/brianmichel/Juice

[2017-02-05 23:09] herrbischoff commented on #401
I like this. What does the others think?

@dkhamsing @iCHAIT

[2017-02-08 07:52] iCHAIT commented on #401
Looks Good :)
@mohitmun Can you open a PR for this?

[2017-03-05 06:54] mohitmun opened #405 "Clipmenu is opensource"
Add opensource badge to clipmenu
source: https://github.com/naotaka/ClipMenu/

[2017-03-05 17:46] herrbischoff commented on #405
Please open a pull request doing so. :)

[2017-03-06 17:04] #401 closed

[2017-03-06 17:04] #405 closed

[2017-03-11 15:24] iCHAIT commented on #385
@dkhamsing I think this can be closed.

[2017-03-11 15:30] #385 closed

[2017-03-15 11:14] 1024jp opened #411 "Deadlink to Hacky"
The link to the application Hacky (http://www.hackyapp.com/) seems dead. The GitHub repo still exists but it's also [not maitained for 3 years](https://github.com/eliaskg/Hacky).

I jsut made an issue instead of PR since I don't know you will remove the app from the list or just change the link target to GitHub (even it discontinued).

[2017-03-15 11:17] herrbischoff commented on #411
I'd say open a pull request to remove it entirely, as it is not even available via Mac App Store any more.

[2017-03-15 11:17] #411 closed

[2017-03-15 11:22] 1024jp commented on #411
@herrbischoff Ok, I've just made it #412.

[2017-03-23 01:10] EasonWang01 opened #418 "stupid Mac List"
Mac's quality getting worse.

QuickTime crash

<img width="782" alt="sss" src="https://cloud.githubusercontent.com/assets/11001914/24227487/5d076cb6-0fa8-11e7-8ed7-93e575de95d5.png">

SSD capacity bug

<img width="808" alt="2017-03-23 9 06 38" src="https://cloud.githubusercontent.com/assets/11001914/24227511/79540190-0fa8-11e7-9b4c-52e5e0e20613.png">

[2017-03-23 02:01] #418 closed

[2017-03-23 02:02] herrbischoff commented on #418
@EasonWang01: This is considered spamming and flaming and has no place on GitHub. I have reported you to support. Goodbye.

[2017-04-15 16:50] dkhamsing commented on #398
Still alpha
Closing

[2017-04-15 16:50] #398 closed

[2017-09-04 08:46] cnstntn-kndrtv opened #442 "new tools"
Hi. Can you add this tools to your list?
https://github.com/cnstntn-kndrtv/open-in-buttons-for-finder-toolbar

[2017-09-04 10:27] herrbischoff commented on #442
Contribution guidelines, read them.

[2017-09-04 10:28] #442 closed

[2017-09-04 10:42] herrbischoff commented on #442
Also, those are simple Automator Workflows. There is **zero** reason why those should be available in binary form – apart from trying to spread malware or other undesirable stuff of course. To top things off, there is no source code, no guide to make your own ones and no way to download the app bundles properly.

[2017-12-10 20:59] notDavid opened #468 "Remove Amphetamine"
Just an fyi, Amphetamine hasn't been updating in a few years, and no longer works on the latest 2 macOS major versions:  https://github.com/x74353/Amphetamine/issues/26

[2017-12-11 00:25] #468 closed

[2017-12-11 00:40] dkhamsing commented on #468
Thx @notDavid @herrbischoff

[2017-12-11 05:08] lebensterben commented on #468
@notDavid @dkhamsing Also mentioned in [x74353/Amphetamine#26](https://github.com/x74353/Amphetamine/issues/26), this seems to be a bug of macOS rather then the app itself. Though it's not been updated for a while, it still works on my macbook pro with High Sierra 10.13.2.

[2017-12-11 05:09] lebensterben commented on #468
@notDavid @dkhamsing Also mentioned in x74353/Amphetamine#26, this seems to be a bug of macOS rather then the app itself. Though it's not been updated for a while, it still works on my macbook pro with High Sierra 10.13.2.

[2017-12-11 06:19] notDavid commented on #468
Well, the person who commented says that caffeine doesn't work for him either, so that seems like a firmware issue indeed (which Apple has confirmed and can be solved with a SMC reset.)

However in my case caffeine and InsomniaX work fine, but Amphetamine doesn't. So that's clearly not a firmware / macOS issue.

The issue might be related to everyones different pmset / sleep settings. In any case,

[2018-01-10 19:55] stackptr opened #477 "Replace Bookmark Utilities category with News Readers"
Currently, there are two news readers that are grouped in different categories: `ReadKit` is in Bookmark Utilities since it can manage Instapaper/Pocket, while `Vienna` is in Other probably because it is lacking that integration (I have not used it). If #475 is approved, a third full-featured news reader would be added.

I suggest grouping these apps, along with perhaps `hacker-menu` into the cate

[2018-01-14 08:48] glmrvn opened #479 "Add Spark mail client"
Hi! Please add Spark in e-mail utilities section.
https://sparkmailapp.com

[2018-01-14 15:27] herrbischoff commented on #479
Send a pull request and we will discuss it.

[2018-01-14 15:27] #479 closed

[2018-01-21 13:45] iCHAIT commented on #477
Please open a Pull Request for your suggestion and it can be discussed further.

[2018-01-21 13:45] #477 closed

[2018-03-04 19:24] notDavid opened #483 "Replace Gas-mask with SwitchHosts?"
fyi, [Gas-mask](https://github.com/2ndalpha/gasmask) doesn't work for me. I'm not sure if it's just me, or it's incompatible with High Sierra, but i see many issues reported in their Github repo.

In any case, [SwitchHosts](https://oldj.github.io/SwitchHosts/) seems a better alternative.
It also has an Alfred workflow :)

[2018-03-16 18:07] iCHAIT commented on #483
Thanks for the suggestion, but open a PR if you would like to see any changes in the list. That'd be more helpful :)

[2018-03-16 18:07] #483 closed

[2018-03-21 20:04] apt6ix opened #490 "Add Brew package manager"
[Brew](https://brew.sh) - Package manager for macOS.

[2018-03-22 08:46] #490 closed

[2018-10-08 17:24] PascalMinder opened #508 "Calibre for the ebook category"
I think Calibre is missing in the ebook category. It is an awesome tool to use for managing your ebooks. It is also able to upload the books to your Kindle (and all the other e-reader there are.)

[2018-12-02 16:42] anshumanv opened #510 "Add VSCode in editors"
I think [vscode](https://code.visualstudio.com/) would make a valuable addition to the editors section.

[2018-12-02 16:43] anshumanv commented on #510
Will send a PR if this is needed. 😃

[2018-12-02 19:12] ajnsit commented on #510
Unfortunately, no Electron apps are allowed - https://github.com/iCHAIT/awesome-macOS/pull/368.

https://github.com/iCHAIT/awesome-macOS/blob/master/.github/contributing.md

[2018-12-02 19:13] anshumanv commented on #510
Ah my bad.

[2018-12-02 19:13] #510 closed

[2019-02-04 13:31] ddovod opened #516 "jet-live library"
Hi. Please consider to add [jet-live](https://github.com/ddovod/jet-live) library for non-intrusive hot c/c++ code reload approach for macOS.
Thank you!

[2019-02-14 21:56] herrbischoff commented on #516
1. You didn't bother to read the contribution guidelines.
2. It's a library, not an application and not macOS-specific.

[2019-02-14 21:56] #516 closed

[2019-02-14 21:59] herrbischoff commented on #508
We used to include it. However, being one of the ugliest pieces of software under the sun and not being a particularly well-crafted macOS application qualified it for removal.

[2019-02-14 21:59] #508 closed

[2019-02-19 18:10] foundationalnotes opened #518 "File Sync"
Hello -

I was wondering if you had any recommendations for syncing files? I notice in your (amazing) list there was no mention of software such as box, dropbox, onedrive, owncloud, nextcloud, google drive, ...

I personally dislike all of these services and only need them in rare instances where I want to either share a file quickly or using a phone and need to refer to a file during a last minut

[2019-02-22 20:41] foundationalnotes commented on #518
I decided to use a combination of dropbox and git

<3

[2019-02-22 20:41] #518 closed

[2019-04-03 00:52] steakknife opened #519 "Suggestion: Bodega - stand-alone usage still works for checking all installed apps for Sparkle updates"
https://mac.softpedia.com/get/Utilities/Bodega.shtml

Ignore the warning about being offline and click on applications.

The downside is it's not automatic (in checking) like that Windows program Secunia PSI was, once upon a time.

[2019-04-07 18:39] EvgenyKarkan opened #520 "[Mac macOS Manual Pages] - Page not found"
This link seems to be not valid anymore

https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/

Clicking on it redirects to a blank web page ("The page you’re looking for can’t be found.")

[2019-07-02 04:04] iCHAIT commented on #520
Fixed in fc1b45f087f7884242352f421ee210eeb2a8cf7e

[2019-07-02 04:04] #520 closed

[2019-07-02 04:05] iCHAIT commented on #519
Please open a Pull Request for your suggestion.

[2019-07-02 04:05] #519 closed

[2019-10-01 16:32] yochem opened #531 "Change Spectacle into Rectangle"
The window manager Spectacle is no long maintained. [Rectangle](https://github.com/rxhanson/Rectangle) is based on spectacle and written in swift.

[2019-10-01 16:44] herrbischoff commented on #531
Pull request?

[2019-10-01 18:16] yochem commented on #531
Sorry! Will do :)

[2019-10-01 18:16] #531 closed

[2019-10-12 06:48] stratospher opened #534 "hyperlink not referencing"
The following hyperlinks
1)macOS 10.10 Yosemite
2)macOS 10.11 El Capitan
3)macOS 10.9 Mavericks
under setup in Table of Contents in README.md  don't function.

[2019-10-12 06:56] stratospher commented on #534
submitted pull request #535 for the same

[2019-10-14 04:38] #534 closed

[2020-04-30 14:51] Danrancan opened #544 "Could we get Xn Convert on this list? It's free!"
Could we get [Xn Convert ](https://www.xnview.com/en/xnconvert/) on this list in the Photo editor section? This is an amazing app that pretty much does everything in post processing photos. From batch watermarking to batch renaming to cleaning metadata to adding effects all in batches, this app does everything you need for photo sets and batches of photos. Please add it as I am highly surprised it

[2020-05-02 12:03] herrbischoff commented on #544
Open a proper pull request and we will discuss it in the team. However, as this is a cross-platform application with the kind of clunky GUI that comes with it, the chances of inclusion are close to zero.

[2020-05-02 12:03] #544 closed

[2020-08-07 16:07] dkhamsing opened #553 "Link issues"
Found in #552
[code]

[2020-08-09 14:06] #553 closed

[2020-09-14 16:17] dkhamsing opened #560 "Link issues"
cc @herrbischoff

Relates to #448 #444

[2020-09-14 16:38] herrbischoff commented on #560
Well, The Unarchiver has turned closed source but is still quite useful, so I recommend changing the link to: https://theunarchiver.com

Flawless App appears to be another one that unceremoniously bites the dust and should be removed. Also, I'm increasingly fed up with commercial applications that get spun up by a small team just to disappear about three years later. At the very least not keeping

[2020-09-14 16:45] #560 closed

[2021-01-19 03:43] slinkymanbyday opened #568 "Github Desktop is an Electron App"
As per guidelines, should be removed as no electron apps are allowed.

[2021-01-31 10:53] notDavid opened #569 "Suggestion: changelog, release, notification"
Hi there, please consider adding a chronological 'changelog' once every few months and creating a [Release](https://docs.github.com/en/github/administering-a-repository/about-releases).

It's way easier and more accessible than going through the commit history to see recent additions :)
Also, people can then "Watch -> Custom -> Releases" to automatically get notified once every few months when new

[2021-02-12 09:16] iCHAIT commented on #568
Done. Thanks for notifying

[2021-02-12 09:16] #568 closed

[2021-02-19 16:21] jpomykala opened #575 "SimpleLocalize"
I'm writing in reference to this PR https://github.com/iCHAIT/awesome-macOS/pull/573
I added my command line tool which is open source and the service is available for free.

![Screenshot 2021-02-19 at 17 19 08](https://user-images.githubusercontent.com/1548104/108531233-c2b2d600-72d6-11eb-90b5-9760b52ee4f5.png)

[2021-02-20 10:45] #575 closed

[2021-05-18 16:46] dkhamsing opened #578 "Link Issues"
Found in #577
- https://github.com/etresoft/EtreCheck `404`
- http://heliumfloats.com/ `Failed to open TCP connection to heliumfloats.com:80 (getaddrinfo: Name or service not known)`

[2021-05-25 16:43] iCHAIT commented on #578
Fixed in 371d51d9a6108bf82a2bb24e2365cf79accbb8d8

Thanks @dkhamsing

[2021-05-25 16:43] #578 closed

[2021-06-08 14:11] lostdesign opened #579 "Reconsider electron apps?"
As mentioned in the one PR that removed all electron based apps, why not add apps that are awesome, because of their functionality and quality?

Who cares what technology was used? I mean I could put up an app on the app store and nobody could tell it was an electron app.

I think it's not really a good way of managing an "awesome" list when _awesome_ apps are excluded, just because of the techsta

[2021-06-09 06:39] herrbischoff commented on #579
This was explained back when they were removed. There is no need to have the discussion again.

A cross-platform application that leverages none of the target UI and UX conventions or technologies can never rival a native application. Since this list is called "Awesome macOS", no matter how _useful_ the application may be to _you_, it's not _awesome_ because it does not play to macOS's strengths i

[2021-06-09 07:23] #579 closed

[2021-10-04 10:55] doniwirawan opened #593 "add VSCode in editor section"

[2021-10-04 12:20] #593 closed

[2021-11-03 09:47] iCHAIT commented on #569
@notDavid happy to add you as a collaborator if you are interested in working on this :)

[2021-11-04 09:53] notDavid commented on #569
@iCHAIT Sure, glad to help 👍🏼

[2021-11-05 16:31] iCHAIT commented on #569
Great @notDavid

I have added you as a collaborator. I think you'll need to accept the invitation. Then you can go ahead and open a PR for the release I think. I am not very familiar with how Releases work on Github.

[2021-11-05 18:55] notDavid commented on #569
Accepted, thank you!

I will have a look and add the releases soon (as shown in my first comment above), in the next few days.
Adding/updating a new release once every 3 months should be plenty i think…?

[2021-11-05 19:00] iCHAIT commented on #569
Yep, once every 3 months should be a good start 👍

[2021-11-09 01:56] philipturner opened #599 "Modification to ARHeadsetKit PR"
Please don't block me from this repo for trying to reach out this way (like #dkhamsing did). I'm doing this instead of emailing @herrbischoff directly because it applies to all maintainers, including @LucasLarson, who already approved of my PR.

I acknowledge that ARHeadsetKit in its current form is kind of irrelevant to macOS. The utilities are useful, but it would be awkward to add an iOS-centri

[2021-11-09 15:19] philipturner commented on #599
Update: I'm in the middle of making `ARHeadsetUtil`, please give me time to finish before doing anything

[2021-11-09 21:06] philipturner commented on #599
[ARHeadsetUtil](https://github.com/philipturner/ARHeadsetUtil) is finished. @herrbischoff, please look at its README and judge for yourself whether it is relevant to macOS. If you approve, I assume that the pull request should go through.

Since I can't edit it, the initial commit still says ARHeadsetKit. However, I updated my branch for the merge, so ARHeadsetUtil will still be added to awesome-m

[2021-11-11 18:02] philipturner commented on #599
ARHeadsetUtil will be used during the development of [GPU acceleration](https://github.com/dl4s-contributors/dl4s-evolution) for [DL4S](https://github.com/palle-k/DL4S), the successor to Swift for TensorFlow. This is a macOS framework, which clearly proves ARHeadsetUtil's relevance to macOS.

[2021-11-28 11:42] herrbischoff commented on #599
Do not open any more issues or pull requests regarding your project. I found it to not be relevant to this list and closed all pull requests.

[2021-11-28 11:42] #599 closed

[2021-11-28 18:37] iCHAIT commented on #569
Hi @notDavid any update on this?

[2021-11-28 21:40] notDavid commented on #569
Hi @iCHAIT, sorry for the delay.

Let me know if you think the layout is okay (it’s saved as a draft currently), or if you want me to change anything: https://github.com/iCHAIT/awesome-macOS/releases

[2021-11-29 16:18] iCHAIT commented on #569
Looks good to me.
@herrbischoff @dkhamsing guys, any feedback/ideas on this?

[2021-11-29 16:21] herrbischoff commented on #569
LGTM

[2021-11-29 18:01] notDavid commented on #569
👍🏼

Are you sure you also want to remove the descriptions? For example when you sign up for “Repo > Watch > Custom > Releases” you will get notified by e-mail for new releases.

However when there’s no descriptions, and people see something like

  \+ krisp
  \+ swish
  \+ recodia

they have no clue if it might be of any use to them?

[2021-11-29 18:04] herrbischoff commented on #569
For new entries the description should of course be there for the reason you stated.

[2021-11-30 08:23] notDavid commented on #569
If everybody is happy i’ll close the issue and i’ll publish a new release this way, quarterly…

[2021-11-30 10:30] iCHAIT commented on #569
Thank you all. Look forward to the quarterly releases. Thanks @notDavid for the help 😄

[2021-11-30 10:30] #569 closed

[2022-02-02 22:38] vitor251093 opened #610 "Wineskin URL outdated"
The original Wineskin domain is no longer being maintained. Instead, you can find the latest Wineskin here:

https://github.com/Gcenx/WineskinServer

[2022-02-03 06:13] crash-bash opened #611 "Add Craft"
A great, award-winning app. https://www.craft.do

[2022-02-03 10:46] herrbischoff commented on #610
How about a pull request?

[2022-02-04 20:53] #610 closed

[2022-02-17 04:09] iammrallblue opened #613 "Can someone share the mind map application (Open source, free)"
I am so tired of some applications popping up all the time asking me to buy them.

Can someone share the mind map application (Open source, free)

[2022-02-17 09:41] herrbischoff commented on #613
GitHub issues are not a discussion forum.

[2022-02-17 09:41] #613 closed

[2022-03-08 11:13] herrbischoff commented on #611
Please open a relevant pull request.

[2022-03-08 11:13] #611 closed

[2022-04-19 01:19] itsnotsaved opened #615 "Add Chat Clients"
- Zulip - Chat for distributed teams
https://zulip.com/apps/ https://zulip.com/apps/mac

- Mattermost - https://mattermost.com/
https://mattermost.com/download/

- Revolt Chat - Communication is critical, Privacy is essential.
https://revolt.chat/ https://github.com/revoltchat#download-links
https://github.com/revoltchat/desktop/releases

- RocketChat - https://rocket.chat/
https://github.com/Rock

[2022-04-19 05:52] herrbischoff commented on #615
Applications are considered when a pull request is sent. Also, without even checking, I bet all of those are Electron apps and therefore ineligible for inclusion. Please read the [contribution guidelines](https://github.com/iCHAIT/awesome-macOS/blob/master/.github/contributing.md). They exist for a reason.

[2022-04-19 05:54] #615 closed